node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.github
.vscode
.idea
.env
.env.*
dist
coverage
test
docs
*.md
!README.md
.gitignore
.prettierrc
.eslintrc.js
docker-compose.yml
Test.zip
